@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #FFFFFF;
  --foreground: #242424;
  --card: #FFFFFF;
  --card-foreground: #242424;
  --popover: #FFFFFF;
  --popover-foreground: #242424;
  --primary: #343434;
  --primary-foreground: #FBFBFB;
  --secondary: #F7F7F7;
  --secondary-foreground: #343434;
  --muted: #F7F7F7;
  --muted-foreground: #8D8D8D;
  --accent: #F7F7F7;
  --accent-foreground: #343434;
  --destructive: #E34C32;
  --destructive-foreground: #E34C32;
  --border: #EBEBEB;
  --input: #EBEBEB;
  --ring: #B4B4B4;
  --chart-1: #D77A38;
  --chart-2: #5AAABC;
  --chart-3: #3862A0;
  --chart-4: #D6D24A;
  --chart-5: #C6B93B;
  --radius: 0.625rem;
  --sidebar: #FBFBFB;
  --sidebar-foreground: #242424;
  --sidebar-primary: #343434;
  --sidebar-primary-foreground: #FBFBFB;
  --sidebar-accent: #F7F7F7;
  --sidebar-accent-foreground: #343434;
  --sidebar-border: #EBEBEB;
  --sidebar-ring: #B4B4B4;
}

.dark {
  --background: #242424;
  --foreground: #FBFBFB;
  --card: #242424;
  --card-foreground: #FBFBFB;
  --popover: #242424;
  --popover-foreground: #FBFBFB;
  --primary: #FBFBFB;
  --primary-foreground: #343434;
  --secondary: #444444;
  --secondary-foreground: #FBFBFB;
  --muted: #444444;
  --muted-foreground: #B4B4B4;
  --accent: #444444;
  --accent-foreground: #FBFBFB;
  --destructive: #992B1C;
  --destructive-foreground: #F26950;
  --border: #444444;
  --input: #444444;
  --ring: #707070;
  --chart-1: #9747FF;
  --chart-2: #60D1AD;
  --chart-3: #C6B93B;
  --chart-4: #DE52C8;
  --chart-5: #EC713A;
  --sidebar: #343434;
  --sidebar-foreground: #FBFBFB;
  --sidebar-primary: #9747FF;
  --sidebar-primary-foreground: #FBFBFB;
  --sidebar-accent: #444444;
  --sidebar-accent-foreground: #FBFBFB;
  --sidebar-border: #444444;
  --sidebar-ring: #707070;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


/* Chrome, Safari, Opera */
.scroll-container::-webkit-scrollbar {
  width: 2px;
}

.scroll-container::-webkit-scrollbar-track {
  background: transparent; 
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}